@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 NOT FOUND - WebsiteCinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebsiteCinema.styles.css" asp-append-version="true" />
</head>
<body class="container-fluid h-100 w-100" style="margin-bottom: 0em">
    <div class="h-100 row bg-danger text-white align-items-center">
        <div style="margin-top: 2em" class="offset-0 offset-sm-2">
            <h1> 404 NOT FOUND </h1>
            <a class="btn btn-light text-danger btn-lg" asp-controller="Movies" asp-action="Index"> Home Page </a>
        </div>
    </div>
</body>
