@using WebsiteCinema.ViewModels
@model VMLogin;

@{
    ViewData["Title"] = "Log in to your account";
}
<div class="row text">
    <div class="col-md-6 offset-3">
        <p>
            <h1>Log in to your account</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                @if(TempData["Error"] != null)
                {
                    <div class="col-md-8, alert-danger">
                        <span><b>Sorry!</b> - @TempData["Error"]</span>
                    </div>
                }
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group my-2">
                        <input type="submit" value="Log in" class="btn btn-outline-success float-end"/>
                        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Cancel</a>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

        